@model Latvijas_Pasts.Models.Cv

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cv</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Name)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Name)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Surname)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Surname)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Phone)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Phone)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.Email)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.Email)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Address)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Address.Country), @Html.DisplayFor(model => model.Address.City), @Html.DisplayFor(model => model.Address.Street), @Html.DisplayFor(model => model.Address.PostalCode), @Html.DisplayFor(model => model.Address.HouseNumber)
	    </dd>
    </dl>
	
    <h4>Education</h4>
    <hr />
    @if (Model.EducationList.Any())
    {
	    <dl class="row">
		    @foreach (var education in Model.EducationList)
		    {
			    <dt class="col-sm-2">Institution Name</dt>
			    <dd class="col-sm-10">@education.InstitutionName</dd>

			    <dt class="col-sm-2">Faculty</dt>
			    <dd class="col-sm-10">@education.Faculty</dd>

			    <dt class="col-sm-2">Study Field</dt>
			    <dd class="col-sm-10">@education.StudyField</dd>

			    <dt class="col-sm-2">Degree</dt>
			    <dd class="col-sm-10">@education.Degree</dd>

			    <dt class="col-sm-2">Status</dt>
			    <dd class="col-sm-10">@education.Status</dd>

			    <dt class="col-sm-2">Duration</dt>
			    <dd class="col-sm-10">@education.Duration</dd>
			    <hr />
		    }
	    </dl>
    }
    else
    {
	    <p>No education details available.</p>
    }
	
    <h4>Experience</h4>
    <hr />
    @if (Model.ExperienceList != null && Model.ExperienceList.Any())
    {
	    <dl class="row">
		    @foreach (var experience in Model.ExperienceList)
		    {
			    <dt class="col-sm-2">Company Name</dt>
			    <dd class="col-sm-10">@experience.CompanyName</dd>

			    <dt class="col-sm-2">Position</dt>
			    <dd class="col-sm-10">@experience.Position</dd>

			    <dt class="col-sm-2">Duration</dt>
			    <dd class="col-sm-10">@experience.Duration</dd>

			    <dt class="col-sm-2">Description</dt>
			    <dd class="col-sm-10">@experience.Description</dd>
			    <hr />
		    }
	    </dl>
    }
    else
    {
	    <p>No experience details available.</p>
    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
