@{
    ViewData["Title"] = "Cvs";
}

<h2>List of CVs</h2>
<table>
	<thead>
	<tr>
		<th>Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var cv in Model)
	{
		<tr>
			<td>@cv.Name @cv.Surname</td>
			<td>@cv.Phone</td>
			<td>@cv.Email</td>
			<td>
				<a asp-action="Details" asp-route-id="@cv.Id">View</a> |
				<a asp-action="Edit" asp-route-id="@cv.Id">Edit</a> |
				<a asp-action="Delete" asp-route-id="@cv.Id">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>
